#project {
    /* margin-top: 2.3rem; */
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

#project::-webkit-scrollbar {
    display: none;
}

.pro-container {
    width: 80%;
    position: absolute;
    top: 14rem;
    left: 7rem;
    display: flex;
    gap: 2.5rem;
    flex-direction: column;

}
.pro-container h3{
    color: #173B6C;
    font-family: Inter;
    margin-top: 12px;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.02rem;
    text-transform: capitalize;
    margin-left: 10%;
}

.card-project:hover {
    transform: scale(1.01);
}
.card-project:hover .image {
    opacity: 1;
    transform: scale(1.01);
}
 .card-project .image {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}


/* CSS for the card */
body {
    font-family: 'Sans-serif';
    background-color: #e5e7eb;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.max-w-md {
    max-width: 28rem;
}

.md\:max-w-2xl {
    max-width: 42rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.bg-white {
    background-color: #ffffff;
}

.shadow-xl {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.rounded-lg {
    border-radius: 0.5rem;
}

.overflow-hidden {
    overflow: hidden;
}

.md\:flex {
    display: flex;
}

.bg-cover {
    background-size: cover;
}

.bg-bottom {
    background-position: bottom;
}

.h-56 {
    height: 14rem;
}

.md\:h-auto {
    height: auto;
}

.md\:w-56 {
    width: 14rem;
}

.p-4 {
    padding: 1rem;
}

.md\:p-5 {
    padding: 1.25rem;
}

.font-bold {
    font-weight: 700;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.text-gray-600 {
    color: #4b5563;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.md\:text-base {
    font-size: 0.95rem;
    line-height: 1.2rem;
}


@media (min-width: 768px) {
  
}